.logo-header {
  height: 40px;
  font-size: 20px;
  position: relative;
  padding-left: 15px;
}
.logo-header img {
  height: 35px;
  vertical-align: middle;
}
.logo-header .header-text {
  vertical-align: middle;
  font-weight: bold;
  color: rgb(113, 113, 113);
}

#basic-types {
  max-width: 200px;
}

/* git-author styles*/
.git-author-container {
  margin-top: 60px;
}
.git-author-container * {
  font-size: 0.8em;
  color: hsl(0, 0%, 49%);
}

video {
  max-width: 100%;
}
