.navigation {
  top: 100px;
}
.navigation:hover {
  background-color: #0175A6;
}

/* #backlog:100 add social sharing buttons back in */
.fa-twitter,
.fa-facebook,
.fa-share-alt {
  display: none;
}

.logo-header {
  height: 40px;
  font-size: 20px;
  position: relative;
  padding-left: 15px;
}
.logo-header img {
  height: 35px;
  vertical-align: middle;
}
.logo-header .header-text {
  vertical-align: middle;
  font-weight: bold;
  color: rgb(113, 113, 113);
}

#basic-types {
  max-width: 200px;
}

/* git-author styles*/
.git-author-container {
  margin-top: 60px;
}
.git-author-container * {
  font-size: 0.8em;
  color: hsl(0, 0%, 49%);
}

video {
  max-width: 100%;
}

/* For presentation/detailed-example.md for large image */
.markdown-section .allow-overflow {
  overflow: scroll;
  height: 400px;
}
.markdown-section .allow-overflow img {
  width: auto;
  height: auto;
  max-width: 10000px;
  max-height: 10000px;
}

/* hide gitbook link */

a.gitbook-link {
  display: none !important;
}
